export(comboreg)
export(comboreg.tval)
export(getcombo.fit)
export(setregcombo.y)
exportClasses(Avg.Fit)
exportClasses(regcombo)
exportMethods(getcombo.fit)
exportMethods(initialize)
exportMethods(plot)
exportMethods(print)
exportMethods(setregcombo.y)
exportMethods(show)
